/*==================================================
 NGEPAS STYLE.CSS v1.0
 Project : Ngepas
 Version : 1.0
 Author  : Akim & ChatGPT
==================================================*/

@import url("main.css");
@import url("home.css");
@import url("category.css");
@import url("products.css");
@import url("responsive.css");